body *, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#sketch {
  min-width: 300px;
  min-height: 300px;
}

.form {
  min-width: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

form[direction="row"] label {
  display: inline;
}

form[direction="col"] label {
  display: block;
}
